---
import '../styles/global.css';
import { YouTube } from 'astro-embed';
import IconLinkedIn from '../components/find-icons.astro';
import SectionApps from '../components/section-apps.astro';
const pageTitle = "StephenMarsh.com";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <style>
      footer {
        font-size: .6em;
      }
    </style>
  </head>
		<body class="container">
      <main>
        <h1>{pageTitle}</h1>

        <section>
          <p class="sm-heading-section">
            <span class="sm-heading-icon">🕵️</span>
            <span>Some Places to Find Me</span>
            <div><IconLinkedIn /></div>
          </p>
        </section>



        <SectionApps />




        <section>
          <p class="sm-heading-section">
            <span class="sm-heading-icon">👨‍💻</span>
            <span>Web Components</span>
          </p>
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 5em;">
            <div class="wc-item">
              <div class="wc-header">Segmented Display</div>
              <div>
                <a target="_blank" href="https://docs.dartbot.com/segment">
                  <img src="segment.png" alt="Segmented Display" width="160">
                </a>
              </div>
            </div>
            <div class="wc-item">
              <div class="wc-header">Dartboard</div>
              <div>
                <a target="_blank" href="https://docs.dartbot.com/dartboard">
                  <img src="dartboard.png" alt="Dartboard web component" width="160">
                </a>
              </div>
            </div>
          </div>
        </section>

        <section>
          <p class="sm-heading-section">
            <span class="sm-heading-icon">👨‍💻</span>
            <span>Some Code I've Written</span>
          </p>
          <ul>
            <li>
              <a target="_blank" href="https://github.com/dartbotapp/dartboard">dartboard</a> -
              <span>Web component for displaying a dartboard</span>
            </li>
            <li>
              <a target="_blank" href="https://github.com/dartbotapp/segment">segment</a> -
              <span>Web component for displaying a segmented display</span>
            </li>
            <li>
              <a target="_blank" href="https://github.com/Enderer/asyncier">asyncier</a> -
              <span>A helper library for working with async iterables in JavaScipt</span>
            </li>
            <li>
              <a target="_blank" href="https://github.com/Enderer/boggle.js">flight-school</a> -
              <span>Flight School dart training app in Angular</span>
            </li>
            <li>
              <a target="_blank" href="https://github.com/Enderer/aho.js">aho.js</a> -
              <span>A generic pattern matcher in TypeScript</span>
            </li>
            <li>
              <a target="_blank" href="https://github.com/Enderer/boggle.js">boggle.js</a> -
              <span>Solver for the game of Boggle written in TypeScript</span>
            </li>
          </ul>
        </section>

        <section>
          <p class="sm-heading-section">
            <span>Some Things I'm Interested In 🤔</span>
          </p>
          <ul class="sm-tags">
            <li>Search</li>
            <li>NLP</li>
            <li>ML</li>
            <li>UX</li>
            <li>Web Components</li>
            <li>Typescript</li>
            <li>Angular</li>
            <li>Snowflake</li>
            <li>React</li>
            <li>Astro</li>
            <li>Next.js</li>
            <li>.Net</li>
            <li>C#</li>
            <li>Node.js</li>
            <li>Elasticsearch</li>
            <li>Lucene</li>
            <li>OpenAI</li>
            <li>LangChain</li>
            <li>SpaCy</li>
            <li>Storybook</li>
            <li>AWS</li>
            <li>Lambda</li>
            <li>FinTech</li>
            <li>REST</li>
            <li>GraphQL</li>
          </ul>
        </section>

        <section>
          <p class="sm-heading-section">
            <span>Some Things I'm Learning 🌱</span>
          </p>
          <ul class="sm-tags">
            <li>Rust</li>
            <li>Wasm</li>
            <li>WebGPU</li>
            <li>Amplify</li>
            <li>Local First</li>
            <li>CRDTs</li>
            <li>Automerge</li>
          </ul>
        </section>

        <section>
          <p class="sm-heading-section">
            <span>Some Songs I've Played 🎸</span>
          </p>

          <details name="book-of-love">
            <summary>The Book Of Love (The Magnetic Fields) - Ukulele</summary>
            <p class="outer"><div class="inner" ><YouTube id="lOpFKk1ZdIc"  /></div></p>
          </details>
        </section>

      </main>
      <hr>
      <footer>Made with ❤️ by Stephen Marsh</footer>
  </body>
</html>
