---
import { YouTube } from 'astro-embed';
---

<section>
  <p class="sm-heading-section">
    <span>Some Songs I've Played 🎸</span>
  </p>

  <details>
    <summary>The Book Of Love (The Magnetic Fields) - Ukulele</summary>
    <p class="outer">
      <div class="inner">
        <YouTube id="lOpFKk1ZdIc" />
      </div>
    </p>
  </details>
</section>